{
  "rules": {
    "no-underscore-dangle": false,
    "camelcase": false,
    "eol-last": false,
    "no-unused-vars": false,
    "quotes": false
  },
  "env": {
    "node": true,
    "browser": true
  }
}